section
	.banner-mini(style="background: linear-gradient(343.16deg, #619330 0%, #B7DA53 100%);")
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					ul.breadcrumbs
						li
							a(href="#") Home
						li
							a(href="#") Products
					h1 Canglow Windows & Doors Blog
					h2 Lorem ipsum dolor sit amet
	.blog
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.content
						.items
							a.item(href="#")
								img(src="img/blog-img-1.jpg", alt="#")
								.description
									ul
										li Windowstag
										li November 7, 2019
									h3 Specialized Provider of Energy Efficient Doors and Windows
									p Our doors and windows are energy efficient, and each product has passed the energy rating test to help conserve energy and reduce your expenditure. Invest in Energy Star® rated windows to reduce 10-25% of your heating and cooling bills. Certified by Energy Star and NAFS, our products help reduce energy loss in winters and gain in warmer months...
									i.icon-message 15
							a.item(href="#")
								img(src="img/blog-img-2.jpg", alt="#")
								.description
									ul
										li Windowstag
										li November 7, 2019
									h3 Specialized Provider of Energy Efficient Doors and Windows
									p Our doors and windows are energy efficient, and each product has passed the energy rating test to help conserve energy and reduce your expenditure. Invest in Energy Star® rated windows to reduce 10-25% of your heating and cooling bills. Certified by Energy Star and NAFS, our products help reduce energy loss in winters and gain in warmer months...
									i.icon-message 15
							a.item(href="#")
								img(src="img/blog-img-3.jpg", alt="#")
								.description
									ul
										li Windowstag
										li November 7, 2019
									h3 Specialized Provider of Energy Efficient Doors and Windows
									p Our doors and windows are energy efficient, and each product has passed the energy rating test to help conserve energy and reduce your expenditure. Invest in Energy Star® rated windows to reduce 10-25% of your heating and cooling bills. Certified by Energy Star and NAFS, our products help reduce energy loss in winters and gain in warmer months...
									i.icon-message 15
					.sidebar
						.newsletter
							h3 NEWSLETTER
							p Fill your email below to subscribe to my newsletter
							form
								.input
									input(type="email" placeholder="Email")
								.input
									input.button.green(type="submit" value="Sumbit")
						.tags
							h3 Tags
							ul
								li
									a(href="#") Windowstag
								li
									a(href="#") Install
								li
									a(href="#") Replacement
								li
									a(href="#") Onemoretag
								li
									a(href="#") Tagtwo
								li
									a(href="#") Somemoretags
								li
									a(href="#") Replacement
								li
									a(href="#") Install
						.post
							h3 Popular Post
							.items
								.item
									img(src="img/gallery-img-2.jpg", alt="#")
									.description
										h5 Specialized Provider of Energy Efficient Doors and Windows
										ul
											li John Doe Smith
											li November 7, 2019
								.item
									img(src="img/gallery-img-2.jpg", alt="#")
									.description
										h5 Specialized Provider of Energy Efficient Doors and Windows
										ul
											li John Doe Smith
											li November 7, 2019
								.item
									img(src="img/gallery-img-2.jpg", alt="#")
									.description
										h5 Specialized Provider of Energy Efficient Doors and Windows
										ul
											li John Doe Smith
											li November 7, 2019
						.canglow
							a.logo(href="#")
								img(src="img/logo.svg", alt="#")
							.img
								img(src="img/window.png", alt="window")
								ul
									li
										h4 Best Price Guarantee
									li
										h4 Energy Efficient
									li
										h4 Lifetime Warranty
									li
										h4 $1500 Alberta Rebate
							a.button.green(href="#") See more
