section
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.coupon-page.saving-now
					.items
						.item.icon-coupon
							h4 CALL
								a(href="tel:587-408-8049") 587-408-8049
								b AND MENTION
								span CANGLOW09
							p To get your window purchase
								br
								|  coupon
