section
	.faq
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.content
						h1 FAQ
						.accardion
							.item
								h4.title.icon-plus Do you undertake repairs and replacements of doors and windows?
								.description
									p Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.
							.item
								h4.title.icon-plus How do I go about repairs for my windows?
								.description
									p Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.
							.item
								h4.title.icon-plus What procedure do you follow in case of replacements of windows?
								.description
									p Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.
							.item
								h4.title.icon-plus Is window replacement advisable in winters in Edmonton?
								.description
									p Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.
							.item
								h4.title.icon-plus How is your window installation different from others?
								.description
									p Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.
							.item
								h4.title.icon-plus What are the awning options that you offer?
								.description
									p Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.
							.item
								h4.title.icon-plus What are casement windows?
								.description
									p Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.
							.item
								h4.title.icon-plus Do you offer customized vinyl windows?
								.description
									p Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.
							.item
								h4.title.icon-plus Can I install bay or bow windows?
								.description
									p Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.
							.item
								h4.title.icon-plus What are end vent slider windows?
								.description
									p Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.
							.item
								h4.title.icon-plus How are fixed casement windows different from other casement installations?
								.description
									p Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.
							.item
								h4.title.icon-plus Are double slider windows better than single slider ones?
								.description
									p Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.
							.item
								h4.title.icon-plus Are picture windows energy efficient?
								.description
									p Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.
							.item
								h4.title.icon-plus Can single or double hung windows look stylish?
								.description
									p Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.
							.item
								h4.title.icon-plus Do you have any window options for gardens?
								.description
									p Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.
							.item
								h4.title.icon-plus What are Hopper windows?
								.description
									p Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.
					.sidebar
						form
							h3 GET A QUICK QUOTE
							.input
								input(type="text" placeholder="Name")
							.input
								input(type="email" placeholder="Email")
							.input
								input(type="tel" placeholder="Phone")
							.g-recaptcha(data-sitekey="your_site_key")
							.input
								input.button.green(type="submit" value="Sumbit")
