footer
	.container-fluid
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				form.footer-form(method="POST")
					h3 Get Your Free
						br
						| Estimates
					.input
						input(type="text" placeholder="Name" name="name")
					.input
						input(type="email" placeholder="Email" name="email")
					.input
						input(type="text" placeholder="Subject" name="subj")
					.input
						input(type="tel" placeholder="Telephone" name="phone")
					.textarea
						textarea(placeholder="Message" name="massage")
					.input
						input.button.green(type="submit" value="Sumbit")
				.location
					h3 Our Location
					ul.office
						li.active
							a(href="https://www.google.com/maps/place/53%C2%B033'39.1%22N+113%C2%B036'24.8%22W/@53.5608514,-113.6079851,18z/data=!4m5!3m4!1s0x0:0x0!8m2!3d53.560861!4d-113.60688" data-lat="53.560861" data-lng="-113.606880" data-google-href="" data-address="16532 111 Avenue NW, AB T5M 3V8" data-phone="587-408-8049" data-fax="780-761-2162" data-phone-two="1-877-607-7648" data-email="info1@canglow.ca" ) Edmonton office
						li
							a(href="https://www.google.com/maps/place/62%C2%B027'30.4%22N+114%C2%B024'48.3%22W/@62.458456,-114.4155987,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d62.458456!4d-114.41341" data-lat="62.458456" data-lng="-114.413410" data-google-href="" data-address="16532 111 Avenue NW, AB T5M 3V8" data-phone="587-408-8049" data-fax="780-761-2162" data-phone-two="1-877-607-7648" data-email="info2@canglow.ca" ) Yellowknife Office
						li
							a(href="https://www.google.com/maps/place/43%C2%B049'43.3%22N+79%C2%B029'30.2%22W/@43.8287,-79.4939217,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d43.8287!4d-79.491733" data-lat="43.828700" data-lng="-79.491733" data-google-href="" data-address="16532 111 Avenue NW, AB T5M 3V8" data-phone="587-408-8049" data-fax="780-761-2162" data-phone-two="1-877-607-7648" data-email="info3@canglow.ca" ) Toronto Office
					.hours
						h6 Hours of Operation:
						p Monday to Friday:
							br
							span 9:00 AM - 5:00 PM
						p Saturday:
							br
							span 9:00AM - 3:00 PM
						p Sunday:
							span Closed
				#map
	.bottom
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					a.homestars(href="#")
						img(src="img/homestars.svg", alt="homestars")
					ul.menu
						li
							a(href="#") Products
						li
							a(href="#") Services
						li
							a(href="#") Education & Resources
						li
							a(href="#") Company
						li
							a(href="#") Contact us
					a.button.green.icon-phone(href="tel:5874088049") 587-408-8049
	.location-block
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h4 Best Windows Replacement and Installation in
					ul.location-menu
						li
							a(href="#") Yellowknife
						li
							a(href="#") Vegreville
						li
							a(href="#") Peace River
						li
							a(href="#") Lac La Biche
						li
							a(href="#") Edson
						li
							a(href="#") Bonnyville
						li
							a(href="#") Whitecourt
						li
							a(href="#") Sylvan Lake
						li
							a(href="#") Ponoka
						li
							a(href="#") Hinton
						li
							a(href="#") Drayton Valley
						li
							a(href="#") Blackfalds
						li
							a(href="#") Rocky Mountain House
						li
							a(href="#") Morinville
						li
							a(href="#") Hay River
						li
							a(href="#") Devon
						li
							a(href="#") Bentley
						li
							a(href="#") Rimbey
						li
							a(href="#") Lloydminster
						li
							a(href="#") Grand Prairie
						li
							a(href="#") Camrose
						li
							a(href="#") Barrhead
						li
							a(href="#") Redwater
						li
							a(href="#") Leduc
						li
							a(href="#") Fort McMurray
						li
							a(href="#") Boyle
						li
							a(href="#") Athabasca
						li
							a(href="#") Fort McMurray
						li
							a(href="#") Boyle
						li
							a(href="#") Athabasca
					p.copyright © 2019 Windows & Doors Company - Canglow.ca. All Rights Reserved.
.modal.fade.coupon-modal(role="dialog")
	.modal-dialog.modal-sm
		.modal-content
			form.form-coupon(method="POST")
				h3 Coupon
				.input
					input(type="text" placeholder="Name")
				.input
					input(type="email" placeholder="Email")
				.input
					input(type="tel" placeholder="Phone")
				.input
					input.button.orange(type="submit" value="REQUEST NOW")
.modal.fade.product.product-1(role="dialog")
	.modal-dialog.modal-lg
		.modal-content
			i.icon-close(data-dismiss="modal")
			.left-block
				img(src="img/awning_window.png", alt="#")
			.right-block
				h2 Awning
				p Awning windows are perfect for ventilating smaller rooms where a casement window isn’t practical. They can also act as egress windows in basements and attics. Windows in Edmonton and other Climate Zone C regions need to be designed for best possible insulation and energy efficiency, as well as ventilation. With our range of custom windows in every style, we make sure that our products perform the best for your needs.
					br
					| Awning windows can add a touch of vintage charm to any room, and are especially charming in attic bedrooms. Our Energy Star rated designs are a seamless blend of form and function, so that you never have to compromise.
			.bottom
				h3
					strong get free windows and doors intallation
					| PLUS
					strong 20% OFF
					| SELECTED ITEMS WITH NO INTEREST FOR UP TO 12 MONTHS O.A.C. FINANCING AVAILABLE.
				a.button.orange-white(href="#") Get a free estimate
.modal.fade.product.product-2(role="dialog")
	.modal-dialog.modal-lg
		.modal-content
			i.icon-close(data-dismiss="modal")
			.left-block
				img(src="img/New-Era-Casement-Web.png", alt="#")
			.right-block
				h2 Casement
				p Awning windows are perfect for ventilating smaller rooms where a casement window isn’t practical. They can also act as egress windows in basements and attics. Windows in Edmonton and other Climate Zone C regions need to be designed for best possible insulation and energy efficiency, as well as ventilation. With our range of custom windows in every style, we make sure that our products perform the best for your needs.
					br
					| Awning windows can add a touch of vintage charm to any room, and are especially charming in attic bedrooms. Our Energy Star rated designs are a seamless blend of form and function, so that you never have to compromise.
			.bottom
				h3
					strong get free windows and doors intallation
					| PLUS
					strong 20% OFF
					| SELECTED ITEMS WITH NO INTEREST FOR UP TO 12 MONTHS O.A.C. FINANCING AVAILABLE.
				a.button.orange-white(href="#") Get a free estimate
.modal.fade.product.product-3(role="dialog")
	.modal-dialog.modal-lg
		.modal-content
			i.icon-close(data-dismiss="modal")
			.left-block
				img(src="img/double-slider-window.png", alt="#")
			.right-block
				h2 Double Slider
				p Awning windows are perfect for ventilating smaller rooms where a casement window isn’t practical. They can also act as egress windows in basements and attics. Windows in Edmonton and other Climate Zone C regions need to be designed for best possible insulation and energy efficiency, as well as ventilation. With our range of custom windows in every style, we make sure that our products perform the best for your needs.
					br
					| Awning windows can add a touch of vintage charm to any room, and are especially charming in attic bedrooms. Our Energy Star rated designs are a seamless blend of form and function, so that you never have to compromise.
			.bottom
				h3
					strong get free windows and doors intallation
					| PLUS
					strong 20% OFF
					| SELECTED ITEMS WITH NO INTEREST FOR UP TO 12 MONTHS O.A.C. FINANCING AVAILABLE.
				a.button.orange-white(href="#") Get a free estimate
.modal.fade.product.product-4(role="dialog")
	.modal-dialog.modal-lg
		.modal-content
			i.icon-close(data-dismiss="modal")
			.left-block
				img(src="img/Double-Hung.png", alt="#")
			.right-block
				h2 Double Hung
				p Awning windows are perfect for ventilating smaller rooms where a casement window isn’t practical. They can also act as egress windows in basements and attics. Windows in Edmonton and other Climate Zone C regions need to be designed for best possible insulation and energy efficiency, as well as ventilation. With our range of custom windows in every style, we make sure that our products perform the best for your needs.
					br
					| Awning windows can add a touch of vintage charm to any room, and are especially charming in attic bedrooms. Our Energy Star rated designs are a seamless blend of form and function, so that you never have to compromise.
			.bottom
				h3
					strong get free windows and doors intallation
					| PLUS
					strong 20% OFF
					| SELECTED ITEMS WITH NO INTEREST FOR UP TO 12 MONTHS O.A.C. FINANCING AVAILABLE.
				a.button.orange-white(href="#") Get a free estimate
.modal.fade.product.product-5(role="dialog")
	.modal-dialog.modal-lg
		.modal-content
			i.icon-close(data-dismiss="modal")
			.left-block
				img(src="img/bay-and-bow-canglow-windows.png", alt="#")
			.right-block
				h2 Bay and  Bow
				p Awning windows are perfect for ventilating smaller rooms where a casement window isn’t practical. They can also act as egress windows in basements and attics. Windows in Edmonton and other Climate Zone C regions need to be designed for best possible insulation and energy efficiency, as well as ventilation. With our range of custom windows in every style, we make sure that our products perform the best for your needs.
					br
					| Awning windows can add a touch of vintage charm to any room, and are especially charming in attic bedrooms. Our Energy Star rated designs are a seamless blend of form and function, so that you never have to compromise.
			.bottom
				h3
					strong get free windows and doors intallation
					| PLUS
					strong 20% OFF
					| SELECTED ITEMS WITH NO INTEREST FOR UP TO 12 MONTHS O.A.C. FINANCING AVAILABLE.
				a.button.orange-white(href="#") Get a free estimate
.modal.fade.product.product-6(role="dialog")
	.modal-dialog.modal-lg
		.modal-content
			i.icon-close(data-dismiss="modal")
			.left-block
				img(src="img/single-hung-canglow-window.png", alt="#")
			.right-block
				h2 Single Hung
				p Awning windows are perfect for ventilating smaller rooms where a casement window isn’t practical. They can also act as egress windows in basements and attics. Windows in Edmonton and other Climate Zone C regions need to be designed for best possible insulation and energy efficiency, as well as ventilation. With our range of custom windows in every style, we make sure that our products perform the best for your needs.
					br
					| Awning windows can add a touch of vintage charm to any room, and are especially charming in attic bedrooms. Our Energy Star rated designs are a seamless blend of form and function, so that you never have to compromise.
			.bottom
				h3
					strong get free windows and doors intallation
					| PLUS
					strong 20% OFF
					| SELECTED ITEMS WITH NO INTEREST FOR UP TO 12 MONTHS O.A.C. FINANCING AVAILABLE.
				a.button.orange-white(href="#") Get a free estimate
.modal.fade.product.product-7(role="dialog")
	.modal-dialog.modal-lg
		.modal-content
			i.icon-close(data-dismiss="modal")
			.left-block
				img(src="img/single-slider-canglow-window.png", alt="#")
			.right-block
				h2 Single Slider
				p Awning windows are perfect for ventilating smaller rooms where a casement window isn’t practical. They can also act as egress windows in basements and attics. Windows in Edmonton and other Climate Zone C regions need to be designed for best possible insulation and energy efficiency, as well as ventilation. With our range of custom windows in every style, we make sure that our products perform the best for your needs.
					br
					| Awning windows can add a touch of vintage charm to any room, and are especially charming in attic bedrooms. Our Energy Star rated designs are a seamless blend of form and function, so that you never have to compromise.
			.bottom
				h3
					strong get free windows and doors intallation
					| PLUS
					strong 20% OFF
					| SELECTED ITEMS WITH NO INTEREST FOR UP TO 12 MONTHS O.A.C. FINANCING AVAILABLE.
				a.button.orange-white(href="#") Get a free estimate
