header.header
	.container
		.row
			.col-lg-12.col-md-12.col-xs-12.col-sm-12
				a.logo(href="/")
					img.lazy-image(src="img/logo.svg", alt="logo")
				.burger-menu
					span
					span
					span
				ul.menu
					li
						a(href="#") Products
						ul.sub-menu
							li.window
								| Windows
								.items
									a(href="#")
										img.lazy-image(src="img/window-1.png", alt="")
										p Casement
									a(href="#")
										img.lazy-image(src="img/window-2.png", alt="")
										p Awning
									a(href="#")
										img.lazy-image(src="img/double-slider-window.png", alt="")
										p Single Slider
									a(href="#")
										img.lazy-image(src="img/Single-Slider.png", alt="")
										p Side Vent Slider
									a(href="#")
										img.lazy-image(src="img/Side-Vent-Slider.png", alt="")
										p Double Slider
									a(href="#")
										img.lazy-image(src="img/Custom-Vinyl-Shape.png", alt="")
										p Custom Vinyl Shaped
									a(href="#")
										img.lazy-image(src="img/single-hung-canglow-window.png", alt="")
										p Single Hung
									a(href="#")
										img.lazy-image(src="img/Double-Hung.png", alt="")
										p Double Hung
									a(href="#")
										img.lazy-image(src="img/Picture-Fixed-Casement.png", alt="")
										p Picture & Fixed Casement
									a(href="#")
										img.lazy-image(src="img/End-Vent-Slider.png", alt="")
										p Hopper Windows
							li.door
								| Door
								.items
									a(href="#")
										img.lazy-image(src="img/Entry-Doors.png", alt="")
										p Entry Doors
									a(href="#")
										img.lazy-image(src="img/Patio-Doors.png", alt="")
										p Patio Doors
					li
						a(href="#") Services
					li
						a(href="#") Education & Resources
					li
						a(href="#") Company
					li
						a(href="#") Contact us
				a.homestars(href="#")
					img.lazy-image(src="img/homestars.svg", alt="homestars")
				a.button.green.icon-phone(href="tel:587-408-8049") 587-408-8049
