section
	.banner
		.container
			.row
				.col-lg-12.col-md-12.col-xs-12.col-sm-12
					.left-block
						h1 free installation of windows and doors
						p(data-percent="20% OFF") Save Additional
							span Till September 15
						a.button.orange(href="#form") GET A FREE ESTIMATE
					.right-block
						img(src="img/window.png", alt="window")
						ul
							li
								h4 Best Price Guarantee
							li
								h4 Energy Efficient
							li
								h4 Lifetime Warranty
							li
								h4 $1500 Alberta Rebate
	.advantages
		.container
			.row
				.col-lg-12.col-md-12.col-xs-12.col-sm-12
					ul
						li.icon-reputation Excellent
							br
							| Reputation
						li.icon-best-financing Best Financing
							br
							| Terms
						li.icon-experience 20 Years
							br
							| of Experience
						li.icon-huge-selection Huge
							br
							| Selection
	.form
		.container
			.row
				.col-lg-12.col-md-12.col-xs-12.col-sm-12
					.left-block
						h2 The best value for replacement windows and doors in Ontario.
						ul
							li Life-Time Warranty
								span As a manufacturer, we provide transferable warranties with the most extensive coverage options for our products
							li Excellent Reputation
								span More than 80,000 satisfied clients, 1,000,000 windows and doors installed, 2,000+ positive reviews on HomeStars
							li Excellent Terms
								span Do not pay for a year. Get 0% financing with payments as low as $29 per month
							li Window Diversity
								span Choose from 40 styles and upgrade to any color
					.right-block
						form.top-form#form(method="POST")
							h3 GET A FREE QUOTE
								span SCHEDUALE YOUR FREE IN-HOME ESTIMATE
							.input
								input(type="text" placeholder="Name" name="name")
							.input
								input(type="email" placeholder="Email" name="email")
							.input
								input(type="tel" placeholder="Phone" name="phone")
							.input
								input(type="text" placeholder="How many windows" name="count")
							.input
								input.button.orange(type="submit" value="GET FREE QUOTE")
							p.best-price Best price
								br
								| guarantee
	.reviews
		.container
			.row
				.col-lg-12.col-md-12.col-xs-12.col-sm-12
					h3.icon-home-stars Reviews
					.items
						.item
							h5 Windows
							ul.stars.five
								li.icon-star
								li.icon-star
								li.icon-star
								li.icon-star
								li.icon-star
							h6 Nov 27, 2014 by Sam Kolbinson
							p Dealing with window and glass companies in the Cold Lake Area was really disappointing with none of them bothering to call back for a quote. Canglow Windows and Doors ...
							a.read-more(href="#") Read More
						.item
							h5 window replacements
							ul.stars.five
								li.icon-star
								li.icon-star
								li.icon-star
								li.icon-star
								li.icon-star
							h6 Nov 27, 2014 by Sam Kolbinson
							p Dealing with window and glass companies in the Cold Lake Area was really disappointing with none of them bothering to call back for a quote. Canglow Windows and Doors ...
							a.read-more(href="#") Read More
						.item
							h5 new windows
							ul.stars.five
								li.icon-star
								li.icon-star
								li.icon-star
								li.icon-star
								li.icon-star
							h6 Nov 27, 2014 by Sam Kolbinson
							p Dealing with window and glass companies in the Cold Lake Area was really disappointing with none of them bothering to call back for a quote. Canglow Windows and Doors ...
							a.read-more(href="#") Read More
						.item
							h5 windows and doors
							ul.stars.five
								li.icon-star
								li.icon-star
								li.icon-star
								li.icon-star
								li.icon-star
							h6 Nov 27, 2014 by Sam Kolbinson
							p Dealing with window and glass companies in the Cold Lake Area was really disappointing with none of them bothering to call back for a quote. Canglow Windows and Doors ...
							a.read-more(href="#") Read More
	.products
		.container
			.row
				.col-lg-12.col-md-12.col-xs-12.col-sm-12
					h3 Windows and Doors Products
					.products-items.slider
						.item
							img(src="img/window-1.png", alt="window")
							h4 Awning
							.description
								p Awning Windows are one of the best insulated styles of window and remain a firm customer favourite. They are well suited to Edmonton and surrounding regions because of their high energy efficiency.  Awning Windows are
								a.button.white-green(href="#" data-toggle="modal" data-target=".product-1") Read More
						.item
							img(src="img/window-2.png", alt="window")
							h4 Casement
							.description
								p Awning Windows are one of the best insulated styles of window and remain a firm customer favourite. They are well suited to Edmonton and surrounding regions because of their high energy efficiency.
								a.button.white-green(href="#" data-toggle="modal" data-target=".product-2") Read More
						.item
							img(src="img/double-slider-window.png", alt="window")
							h4 Double Slider
							.description
								p Awning Windows are one of the best insulated styles of window and remain a firm customer favourite. They are well suited to Edmonton and surrounding regions because of their high energy efficiency.
								a.button.white-green(href="#" data-toggle="modal" data-target=".product-3") Read More
						.item
							img(src="img/Double-Hung.png", alt="window")
							h4 Double Hung
							.description
								p Awning Windows are one of the best insulated styles of window and remain a firm customer favourite. They are well suited to Edmonton and surrounding regions because of their high energy efficiency.
								a.button.white-green(href="#" data-toggle="modal" data-target=".product-4") Read More
						.item
							img(src="img/bay-and-bow-canglow-windows.png", alt="window")
							h4 Bay and  Bow
							.description
								p Awning Windows are one of the best insulated styles of window and remain a firm customer favourite. They are well suited to Edmonton and surrounding regions because of their high energy efficiency.
								a.button.white-green(href="#" data-toggle="modal" data-target=".product-5") Read More
						.item
							img(src="img/single-hung-canglow-window.png", alt="window")
							h4 Single Hung
							.description
								p Awning Windows are one of the best insulated styles of window and remain a firm customer favourite. They are well suited to Edmonton and surrounding regions because of their high energy efficiency.
								a.button.white-green(href="#" data-toggle="modal" data-target=".product-6") Read More
						.item
							img(src="img/single-slider-canglow-window.png", alt="window")
							h4 Single Slider
							.description
								p Awning Windows are one of the best insulated styles of window and remain a firm customer favourite. They are well suited to Edmonton and surrounding regions because of their high energy efficiency.
								a.button.white-green(href="#" data-toggle="modal" data-target=".product-7") Read More
	.discount
		.container
			.row
				.col-lg-12.col-md-12.col-xs-12.col-sm-12
					h3 UP TO 50% OFF SELECT WINDOWS
						span PLUS GET 0% INTEREST FOR UP TO 12 MONTHS O.A.C. FINANCING AVAILABLE.
					a.button.white.icon-phone(href="tel:587-408-8049") 587-408-8049
	.gallery
		.container
			.row
				.col-lg-12.col-md-12.col-xs-12.col-sm-12
					h3 Windows Gallery
					.grid
						img(src="img/gallery-1.jpg", alt="#")
						img(src="img/gallery-2.jpg", alt="#")
						img(src="img/gallery-3.jpg", alt="#")
						img(src="img/gallery-4.jpg", alt="#")
					//a.show-more(href="#") Show more
	.saving-now
		.container
				.row
					.col-lg-12.col-md-12.col-xs-12.col-sm-12
						h3 Start Saving Now
						.items
							.item.icon-coin
								h4 WE MAKE IT EASY
									span GET 0%
								p Financing today
							a.item.icon-coupon(href="coupon.html")
								h4 GET A FREE
									span COUPON
								p For your windows
									br
									| purchase
						//a.button.white(href="#", data-toggle="modal", data-target=".coupon-modal") Request Your Coupon

