header
	.container
		.row
			.col-lg-12.col-md-12.col-xs-12.col-sm-12
				a.logo(href="/")
					img(src="img/logo.svg", alt="logo")
				p Windows Designed
					strong For Alberta.
				a.google(href="#")
					img(src="img/google.png", alt="google")
				a.homestars(href="#")
					img(src="img/homestars.svg", alt="homestars")
				a.button.green.icon-phone(href="tel:587-408-8049") 587-408-8049
