section
	.page404(style="background-image:url(img/404.png)")
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h2 Oops, this page is broken or doesn’t exist
					h1 Error 404
					p Visit homepage
					a.button.green(href="/") Homepage
