
<section>
  <div class="faq">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="content">
            <h1>FAQ</h1>
            <div class="accardion">
              <div class="item">
                <h4 class="title icon-plus">Do you undertake repairs and replacements of doors and windows?</h4>
                <div class="description">
                  <p>Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.</p>
                </div>
              </div>
              <div class="item">
                <h4 class="title icon-plus">How do I go about repairs for my windows?</h4>
                <div class="description">
                  <p>Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.</p>
                </div>
              </div>
              <div class="item">
                <h4 class="title icon-plus">What procedure do you follow in case of replacements of windows?</h4>
                <div class="description">
                  <p>Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.</p>
                </div>
              </div>
              <div class="item">
                <h4 class="title icon-plus">Is window replacement advisable in winters in Edmonton?</h4>
                <div class="description">
                  <p>Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.</p>
                </div>
              </div>
              <div class="item">
                <h4 class="title icon-plus">How is your window installation different from others?</h4>
                <div class="description">
                  <p>Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.</p>
                </div>
              </div>
              <div class="item">
                <h4 class="title icon-plus">What are the awning options that you offer?</h4>
                <div class="description">
                  <p>Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.</p>
                </div>
              </div>
              <div class="item">
                <h4 class="title icon-plus">What are casement windows?</h4>
                <div class="description">
                  <p>Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.</p>
                </div>
              </div>
              <div class="item">
                <h4 class="title icon-plus">Do you offer customized vinyl windows?</h4>
                <div class="description">
                  <p>Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.</p>
                </div>
              </div>
              <div class="item">
                <h4 class="title icon-plus">Can I install bay or bow windows?</h4>
                <div class="description">
                  <p>Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.</p>
                </div>
              </div>
              <div class="item">
                <h4 class="title icon-plus">What are end vent slider windows?</h4>
                <div class="description">
                  <p>Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.</p>
                </div>
              </div>
              <div class="item">
                <h4 class="title icon-plus">How are fixed casement windows different from other casement installations?</h4>
                <div class="description">
                  <p>Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.</p>
                </div>
              </div>
              <div class="item">
                <h4 class="title icon-plus">Are double slider windows better than single slider ones?</h4>
                <div class="description">
                  <p>Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.</p>
                </div>
              </div>
              <div class="item">
                <h4 class="title icon-plus">Are picture windows energy efficient?</h4>
                <div class="description">
                  <p>Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.</p>
                </div>
              </div>
              <div class="item">
                <h4 class="title icon-plus">Can single or double hung windows look stylish?</h4>
                <div class="description">
                  <p>Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.</p>
                </div>
              </div>
              <div class="item">
                <h4 class="title icon-plus">Do you have any window options for gardens?</h4>
                <div class="description">
                  <p>Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.</p>
                </div>
              </div>
              <div class="item">
                <h4 class="title icon-plus">What are Hopper windows?</h4>
                <div class="description">
                  <p>Your searches for every fenestration need ends here! Canglow is the one stop shop for new installations, repairs and replacements of doors and windows. We undertake every kind of repairs and replacements whether in part or whole for all kinds of doors and windows for your home or office with highly skilled professional expertise. We have infallible processes with strict quality checks that are aimed at complete client satisfaction.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="sidebar">
            <form>
              <h3>GET A QUICK QUOTE</h3>
              <div class="input">
                <input type="text" placeholder="Name"/>
              </div>
              <div class="input">
                <input type="email" placeholder="Email"/>
              </div>
              <div class="input">
                <input type="tel" placeholder="Phone"/>
              </div>
              <div class="g-recaptcha" data-sitekey="your_site_key"></div>
              <div class="input">
                <input class="button green" type="submit" value="Sumbit"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
