
<section>
  <div class="glossary">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="content">
            <h1>Glossary</h1>
            <ul class="nav">
              <li class="active"><a href="#A" data-toggle="tab">A</a></li>
              <li><a href="#B" data-toggle="tab">B</a></li>
              <li><a href="#C" data-toggle="tab">C</a></li>
              <li><a href="#D" data-toggle="tab">D</a></li>
              <li><a href="#E" data-toggle="tab">E</a></li>
              <li><a href="#F" data-toggle="tab">F</a></li>
              <li><a href="#G" data-toggle="tab">G</a></li>
              <li><a href="#H" data-toggle="tab">H</a></li>
              <li><a href="#I" data-toggle="tab">I</a></li>
              <li><a href="#J" data-toggle="tab">J</a></li>
              <li><a href="#K" data-toggle="tab">K</a></li>
              <li><a href="#L" data-toggle="tab">L</a></li>
              <li><a href="#M" data-toggle="tab">M</a></li>
              <li><a href="#N" data-toggle="tab">N</a></li>
              <li><a href="#O" data-toggle="tab">O</a></li>
              <li><a href="#P" data-toggle="tab">P</a></li>
              <li><a href="#Q" data-toggle="tab">Q</a></li>
              <li><a href="#R" data-toggle="tab">R</a></li>
              <li><a href="#S" data-toggle="tab">S</a></li>
              <li><a href="#T" data-toggle="tab">T</a></li>
              <li><a href="#U" data-toggle="tab">U</a></li>
              <li><a href="#V" data-toggle="tab">V</a></li>
              <li><a href="#W" data-toggle="tab">W</a></li>
              <li><a href="#X" data-toggle="tab">X</a></li>
              <li><a href="#Y" data-toggle="tab">Y</a></li>
              <li><a href="#Z" data-toggle="tab">Z</a></li>
              <li><a href="#all" data-toggle="tab">Show all</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="A">
                <ul>
                  <li>
                    <h4>Awnings</h4>
                    <p>Usually canvas or some other material stretched on a frame and installed on the exterior or a door or window to keep out the sun or rain with a sash that swings outwards to maneuver movement.</p>
                  </li>
                  <li>
                    <h4>Argon</h4>
                    <p>Inert, non-toxic gas used to insulate windows to prevent heat transmissions.</p>
                  </li>
                </ul>
              </div>
              <div class="tab-pane" id="B">
                <ul>
                  <li>
                    <h4>Bay and Bow</h4>
                    <p>Both these windows are placed at angles and stick out of the wall of the house. Bay windows usually have three windows while bow windows have four to five windows.</p>
                  </li>
                  <li>
                    <h4>Casement Windows</h4>
                    <p>Windows that are fixed on hinges to make it open like a door.</p>
                  </li>
                </ul>
              </div>
              <div class="tab-pane" id="C"></div>
              <div class="tab-pane" id="D"></div>
              <div class="tab-pane" id="E"></div>
              <div class="tab-pane" id="F"></div>
              <div class="tab-pane" id="G"></div>
              <div class="tab-pane" id="H"></div>
              <div class="tab-pane" id="I"></div>
              <div class="tab-pane" id="J"></div>
              <div class="tab-pane" id="K"></div>
              <div class="tab-pane" id="L"></div>
              <div class="tab-pane" id="M"></div>
              <div class="tab-pane" id="N"></div>
              <div class="tab-pane" id="O"></div>
              <div class="tab-pane" id="P"></div>
              <div class="tab-pane" id="Q"></div>
              <div class="tab-pane" id="R"></div>
              <div class="tab-pane" id="S"></div>
              <div class="tab-pane" id="T"></div>
              <div class="tab-pane" id="U"></div>
              <div class="tab-pane" id="V"></div>
              <div class="tab-pane" id="W"></div>
              <div class="tab-pane" id="X"></div>
              <div class="tab-pane" id="Y"></div>
              <div class="tab-pane" id="Z"></div>
            </div>
          </div>
          <div class="sidebar">
            <form>
              <h3>GET A QUICK QUOTE</h3>
              <div class="input">
                <input type="text" placeholder="Name"/>
              </div>
              <div class="input">
                <input type="email" placeholder="Email"/>
              </div>
              <div class="input">
                <input type="tel" placeholder="Phone"/>
              </div>
              <div class="g-recaptcha" data-sitekey="your_site_key"></div>
              <div class="input">
                <input class="button green" type="submit" value="Sumbit"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
