
<section>
  <div class="banner-landing" style="background-image:url(img/bg-home-page.png)">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <div class="breadcrumbs"> <span><a href="/"> <span>Home </span></a></span><span>Products</span></div>
          <div class="left-block">
            <h1>ALBERTA WINDOWS <br/>REPLACEMENT & INSTALLATION</h1>
            <ul>
              <li>Life-Time Warranty</li>
              <li>Easy, Free, No Obligation Quote.</li>
              <li>Excellent Terms - 0% Financing </li>
              <li>Wide Selections of Windows</li>
            </ul>
          </div>
          <div class="right-block">
            <form class="arrow">
              <h3>GET <span>A FREE </span>QUOTE</h3>
              <h5>Scheduale Your Free In-home Estimate</h5>
              <div class="input">
                <input type="text" placeholder="Name*"/>
              </div>
              <div class="input">
                <input type="email" placeholder="Email*"/>
              </div>
              <div class="input">
                <input type="tel" placeholder="Phone"/>
              </div>
              <div class="input">
                <input type="text" placeholder="city"/>
              </div>
              <div class="input">
                <input class="button green" type="submit" value="GET A FREE QUOTE"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="advantages">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <ul>
            <li class="icon-reputation">Excellent<br/>Reputation</li>
            <li class="icon-best-financing">Best Financing<br/>Terms</li>
            <li class="icon-warranty">20 Years<br/>of Experience</li>
            <li class="icon-huge-selection">Huge<br/>Selection</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="description-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
          <div class="window"><img src="img/window.png" alt="window"/>
            <ul>
              <li>
                <h4>Best Price Guarantee</h4>
              </li>
              <li>
                <h4>Energy Efficient</h4>
              </li>
              <li>
                <h4>Lifetime Warranty</h4>
              </li>
              <li>
                <h4>Best FInancing <br/>Terms</h4>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
          <div class="text">
            <h2>Windows Replacement in Alberta </h2>
            <p>For over 20 years, Canglow Windows have been providing the complete customer experience - we manufacture, we install, we service and we back up everything we do with our life-time warranty. We're honored to be serving Alberta! </p>
            <p>So whether it is for your living room, kitchen, bathroom or bedroom, we have appropriate options for all. Our products need minimal maintenance to keep on looking beautiful. Don’t hesitate to give your windows the makeover that they deserve. We also offer professional installation services to make us a one-stop company for all your window needs.</p>
            <p>If you want to know the cost of replacing windows, contact us by number 780-761-2161 .</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <h2>Wide Selection of Windows <span>in Our Online Catalogue</span></h2>
          <p>So whether it is for your living room, kitchen, bathroom or bedroom, we have appropriate options for all. Our products need minimal maintenance to keep on looking beautiful. Don’t hesitate to give your windows the makeover that they deserve. We also offer professional installation services to make us a one-stop company for all your window needs.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
          <ul class="product-list">
            <li class="item"> <a href="#"><img src="img/window-1.png" alt=""/>
                <h3>Awning</h3></a></li>
            <li class="item"><a href="#"><img src="img/window-2.png" alt=""/>
                <h3>Awning</h3></a></li>
            <li class="item"><a href="#"><img src="img/window-1.png" alt=""/>
                <h3>Awning</h3></a></li>
            <li class="item"><a href="#"><img src="img/window-2.png" alt=""/>
                <h3>Awning</h3></a></li>
            <li class="item"><a href="#"><img src="img/window-1.png" alt=""/>
                <h3>Awning </h3></a></li>
            <li class="item"><a href="#"><img src="img/window-2.png" alt=""/>
                <h3>Awning</h3></a></li>
            <li class="item"><a href="#"><img src="img/window-1.png" alt=""/>
                <h3>Awning</h3></a></li>
            <li class="item"><a href="#"><img src="img/window-2.png" alt=""/>
                <h3>Awning</h3></a></li>
            <li class="item"><a href="#"><img src="img/window-1.png" alt=""/>
                <h3>Awning</h3></a></li>
            <li class="item"><a href="#"><img src="img/window-2.png" alt=""/>
                <h3>Awning</h3></a></li>
            <li class="item"><a href="#"><img src="img/window-1.png" alt=""/>
                <h3>Awning</h3></a></li>
            <li class="item"><a href="#"><img src="img/window-2.png" alt=""/>
                <h3>Awning</h3></a></li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
          <form class="arrow">
            <div class="form-head">
              <h3>GET A FREE QUOTE </h3>
              <h5>Scheduale Your Free In-home Estimate</h5>
            </div>
            <div class="input">
              <input type="text" placeholder="Name*"/>
            </div>
            <div class="input">
              <input type="email" placeholder="Email*"/>
            </div>
            <div class="input">
              <input type="tel" placeholder="Phone"/>
            </div>
            <div class="input">
              <input type="tel" placeholder="How many windows"/>
            </div>
            <div class="input">
              <input class="button green" type="submit" value="GET FREE QUOTE"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="tabs-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <ul class="nav-tabs">
            <li class="active"><a href="#features-benefits" data-toggle="tab">Features & Benefits</a></li>
            <li><a href="#service-areas" data-toggle="tab">Service Areas</a></li>
            <li><a href="#gallery" data-toggle="tab">Gallery</a></li>
            <li><a href="#grids-trims" data-toggle="tab">Grids & Trims</a></li>
            <li><a href="#glass" data-toggle="tab">Glass</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="features-benefits">
              <div class="img"><img src="img/window-big.png" alt="#"/></div>
              <div class="description">
                <h3>Features & Benefits</h3>
                <ul>
                  <li>100% Lead-Free</li>
                  <li>Singe, Double and Triple Glass for better insulation</li>
                  <li>Thermal & Energy Efficient.</li>
                  <li>Depending on the model, casements open at a full 90 degrees.</li>
                  <li>High-security multi-point locking system with stainless steel hinges and tracks.</li>
                  <h6>100 % Lead-Free</h6>
                  <p>Window Mart offers you 100 % Lead-Free uPVC. Our windows are sturdy because they are strengthened by uPVC powder compound. If you want to increase the security of your home, go for the secure vinyl material.</p>
                  <h6>thermal & energy efficiency.</h6>
                  <p>Our windows have the highest number of internal air chambers, giving them outstanding insulation and sound abatement qualities, as well as maximizing thermal & energy efficiency.</p>
                  <h6>Watertight and Airtight</h6>
                  <p>Unlike other window frames that need sealants and adhesives, fusion welding corners do not need them thus making them more attractive. All our windows are completely watertight and airtight.</p>
                  <h6>Sealed Glass Unit</h6>
                  <p>Unit has 13/16″ overall thickness. We offer multiple options for glazing and thickness depending on the model.</p><a class="button green" href="#">Request a Quote</a>
                </ul>
              </div>
            </div>
            <div class="tab-pane" id="service-areas">
              <div class="description">
                <h3>Service Areas</h3>
                <h6>LOREM IPSUM DOLOR SIT AMET CONSEQTETUR</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</p>
              </div><a class="button green" href="#">Request a Quote</a>
              <div id="map-service"></div>
            </div>
            <div class="tab-pane" id="gallery">
              <div class="gallery-block">
                <h3>Gallery</h3>
                <div class="gallery">
                  <div class="grid"><img src="https://www.canglow.ca/wp-content/uploads/2019/10/canglow-windows-replacement-alberta-2.jpg" alt="#"/><img src="https://www.canglow.ca/wp-content/uploads/2019/10/canglow-windows-replacement-alberta-5.jpg" alt="#"/><img src="https://www.canglow.ca/wp-content/uploads/2019/10/canglow-windows-replacement-alberta-4.jpg" alt="#"/><img src="https://www.canglow.ca/wp-content/uploads/2019/10/canglow-windows-replacement-alberta-1.jpg" alt="#"/></div>
                </div><a class="button green" href="#">Request a Quote</a>
              </div>
              <div class="wpcf7" id="wpcf7-f28-o4" role="form" lang="en-US" dir="ltr">
                <div class="screen-reader-response"></div>
                <form class="wpcf7-form" action="/products/casement/#wpcf7-f28-o4" method="post" novalidate="novalidate">
                  <div style="display: none;">
                    <input type="hidden" name="_wpcf7" value="28"/>
                    <input type="hidden" name="_wpcf7_version" value="5.1.4"/>
                    <input type="hidden" name="_wpcf7_locale" value="en_US"/>
                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f28-o4"/>
                    <input type="hidden" name="_wpcf7_container_post" value="0"/>
                  </div>
                  <h3>GET A QUICK QUOTE</h3>
                  <div class="input"><span class="wpcf7-form-control-wrap Name">
                      <input class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" type="text" name="Name" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Name*"/></span></div>
                  <div class="input"><span class="wpcf7-form-control-wrap Email">
                      <input class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" type="email" name="Email" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Email*"/></span></div>
                  <div class="input"><span class="wpcf7-form-control-wrap Phone">
                      <input class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" type="tel" name="Phone" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Phone*"/></span></div>
                  <div class="input"><span class="wpcf7-form-control-wrap City">
                      <input class="wpcf7-form-control wpcf7-text" type="text" name="City" value="" size="40" aria-invalid="false" placeholder="City"/></span></div>
                  <div class="g-recaptcha" data-sitekey="your_site_key"></div>
                  <div class="input">
                    <input class="wpcf7-form-control wpcf7-submit button green" type="submit" value="Submit"/><span class="ajax-loader"></span>
                  </div>
                  <div class="wpcf7-response-output wpcf7-display-none"></div>
                </form>
              </div>
            </div>
            <div class="tab-pane" id="grids-trims">
              <div class="left-block">
                <div class="img-grid">
                  <h3>Grid Designs</h3><img src="img/grid-img-1.png" alt="#"/><img src="img/grid-img-2.png" alt="#"/><img src="img/grid-img-3.png" alt="#"/><img src="img/grid-img-4.png" alt="#"/><img src="img/grid-img-5.png" alt="#"/><img src="img/grid-img-6.png" alt="#"/><img src="img/grid-img-7.png" alt="#"/><img src="img/grid-img-8.png" alt="#"/>
                </div>
                <div class="img-grid">
                  <h3>Grid Types</h3><img src="img/grid-img-9.png" alt="#"/><img src="img/grid-img-10.png" alt="#"/><img src="img/grid-img-11.png" alt="#"/><img src="img/grid-img-12.png" alt="#"/>
                </div><a class="button green" href="#">Request a Quote</a>
              </div>
              <div class="right-block">
                <h3>Grids & Trims</h3>
                <h6>INTERIOR TRIM OPTIONS</h6>
                <p>Our vinyl windows come with a variety of interior vinyl trim options for refined and versatile styling. We combine advanced technology with the finest materials for durable, flawless finishes that will retain their colour year after year. Standard finishing options include wood stain and contemporary and classic rosettes, but we can also accommodate custom colours.</p>
                <h6>JAMB SIZES</h6>
                <p>At Canglow we offer four standard vinyl jamb sizes to facilitate a seamless window installation process. For added flexibility we can also provide wood jamb extensions, frame moldings and corner blocks. These interior finishing options are made from a durable lead-free PVC powder compound that requires no maintenance.</p>
                <h6>EXTERIOR BRICKMOLD</h6>
                <p>We craft our brickmolds from a durable uPVC powder compound that is designed to stand up to the harshest elements. This maintenance-free material is available in a variety of sizes and colours, for long-lasting curb appeal.</p>
              </div>
            </div>
            <div class="tab-pane" id="glass">
              <div class="left-block"><img src="img/glass-1.png" alt="#"/><img src="img/glass-2.png" alt="#"/><img src="img/glass-3.png" alt="#"/></div>
              <div class="right-block">
                <h3>Glass</h3>
                <h6>Clear Glass</h6>
                <p>Our double-paned windows with clear glass provide optimum noise protection compared to single pane glass. In terms of temperature resistance, it promotes the easy flow of hot and cold air from both inside and outside.</p>
                <h6>Low-E Glass</h6>
                <p>Low emissivity glass, or Low-E glass, is a strategic choice for lowering your home energy costs all-year-round. In winter, Low-E glass cuts down on heat loss by reducing radiant heat transfer and reflecting interior heat back into your room, where it needs to be. It also efficiently dispenses the sun’s rays—allowing more of them to enter the home as usable solar energy. This provides extra warmth while minimizing reliance on heating, which can account for up to 60% of a home’s energy costs.</p>
                <p>In summer the same principle applies but the effect is reversed. Low-E glass windows help reduce the flow of hot air into the cool interior. This specially formulated coating also reduces the effects of the sun’s ultraviolet (UV) rays, which are a leading cause of premature fading and degradation of fabrics and carpeting.</p>
                <h6>Triple Pane Windows</h6>
                <p>Triple-pane glass windows are the most energy-efficient models on the market. With the extra pane of glass, they moderate temperatures inside for optimal comfort in every season—during winter, cold air remains outside and warm air inside, while in summer the results are reversed.</p>
                <p>Special coatings are often applied to the glass to eliminate solar heat gain and boost its energy efficiency. The extra pane of glass truly provides a new level of insulation, airflow and energy efficiency.</p><a class="button green" href="#">Request a Quote</a>
              </div>
            </div>
            <form>
              <h3>Get Your Free Estimate</h3>
              <div class="input">
                <input type="text" placeholder="Name"/>
              </div>
              <div class="input">
                <input type="tel" placeholder="Telephone"/>
              </div>
              <div class="input">
                <input type="email" placeholder="Email"/>
              </div>
              <div class="input">
                <input class="button white-green" type="submit" value="Sumbit"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="reviews">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <h2>Our Satisfied Customers Reviews</h2>
          <ul class="reviews-links">
            <li><a href="#"><img src="img/google-img.png" alt=""/></a></li>
            <li><a href="#"><img src="img/houzz.png" alt=""/></a></li>
            <li><a href="#"><img src="img/home-img.png" alt=""/></a></li>
          </ul>
          <div class="items">
            <div class="item">
              <h5>Windows</h5>
              <ul class="stars five">
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
              </ul>
              <h6>Nov 27, 2014 by Sam Kolbinson</h6>
              <p>Dealing with window and glass companies in the Cold Lake Area was really disappointing with none of them bothering to call back for a quote. Canglow Windows and Doors ...</p><a class="read-more" href="#">Read More</a>
            </div>
            <div class="item">
              <h5>window replacements</h5>
              <ul class="stars five">
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
              </ul>
              <h6>Nov 27, 2014 by Sam Kolbinson</h6>
              <p>Dealing with window and glass companies in the Cold Lake Area was really disappointing with none of them bothering to call back for a quote. Canglow Windows and Doors ...</p><a class="read-more" href="#">Read More</a>
            </div>
            <div class="item">
              <h5>new windows</h5>
              <ul class="stars five">
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
              </ul>
              <h6>Nov 27, 2014 by Sam Kolbinson</h6>
              <p>Dealing with window and glass companies in the Cold Lake Area was really disappointing with none of them bothering to call back for a quote. Canglow Windows and Doors ...</p><a class="read-more" href="#">Read More</a>
            </div>
            <div class="item">
              <h5>windows and doors</h5>
              <ul class="stars five">
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
              </ul>
              <h6>Nov 27, 2014 by Sam Kolbinson</h6>
              <p>Dealing with window and glass companies in the Cold Lake Area was really disappointing with none of them bothering to call back for a quote. Canglow Windows and Doors ...</p><a class="read-more" href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="description-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text">
          <h2>Innovative Windows Designed <span>For Alberta</span></h2>
          <p>Keep out weather elements and enjoy the cozy comfort of your interior with windows provided by Canglow. With time, the harsh conditions of the Canadian northern climate can wreak havoc on your windows, leading to the accumulation of mould and heat loss. Replace your windows to cut down energy costs as well as update the look of the house on both the exterior and interior surfaces. Select from a wide variety of our latest window styles like awnings, casements, garden, bay, bow, tilt-out and lift-out sliders, hung, hoppers and high/low profile fixed to suit your preferences.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 image"><img src="img/rectangle-7.jpg" alt=""/></div>
      </div>
    </div>
  </div>
  <div class="description-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 image"><img src="img/rectangle-23.jpg" alt=""/></div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text">
          <h2>Inspired <span>Designs. </span>Exceptional <span>Detail.</span></h2>
          <p>Keep out weather elements and enjoy the cozy comfort of your interior with windows provided by Canglow. With time, the harsh conditions of the Canadian northern climate can wreak havoc on your windows, leading to the accumulation of mould and heat loss. Replace your windows to cut down energy costs as well as update the look of the house on both the exterior and interior surfaces. Select from a wide variety of our latest window styles like awnings, casements, garden, bay, bow, tilt-out and lift-out sliders, hung, hoppers and high/low profile fixed to suit your preferences.</p>
        </div>
      </div>
    </div>
  </div>
</section>
