
<section>
  <div class="blog">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="content">
            <h1>Exceptional Window Replacement Services in Alberta and Northwest Territories</h1>
            <p>Broken window? Damaged window? Cracked window trim? <br/>Trust us to handle all your fenestration replacement needs in Edmonton and the rest of Alberta as well as Northwest Territories. Canglow is a leading service provider when it comes to professionally replacing windows with new ones. A team of our in-house expert window installers are ready to offer you their superior workmanship and high standards of excellence.</p>
            <ul class="services">
              <li class="icon-consulting">Consultation
                <p>Lashed with heavy rains and heavy snows, Edmonton faces erratic climatic conditions most of the year. If the window</p>
              </li>
              <li class="icon-design">Measurement
                <p>We offer double and triple glazed window panes for replacement to keep out the chill in the winter and heat in the summer months. While working on the project</p>
              </li>
              <li class="icon-removing-window">Removing
                <p>With years of combined experience and expertise in fenestration remodeling services, our expert installers provide the highest quality of service to ensure safety and satisfaction in all of our projects.</p>
              </li>
              <li class="icon-tools">Installation
                <p>While working on the project we ensure minimum discomfort to the inmates of the house, and remove one window at a time.</p>
              </li>
            </ul>
            <h3>Window Replacement in winter</h3>
            <p>Lashed with heavy rains and heavy snows, Edmonton faces erratic climatic conditions most of the year. If the window glass is getting fogged or if you are feeling the chill even while indoors, you may want to consider our window replacement services.</p>
            <p>We offer double and triple glazed window panes for replacement to keep out the chill in the winter and heat in the summer months. While working on the project we ensure minimum discomfort to the inmates of the house, and remove one window at a time. This is done to maintain the indoor temperature as much as possible.</p>
            <h3>Expert installers</h3>
            <p>With years of combined experience and expertise in fenestration remodeling services, our expert installers provide the highest quality of service to ensure safety and satisfaction in all of our projects.</p>
            <p>We prep your windows and prepare the work area before we start the actual process so that there are no hitches during the work. Don’t worry about dirt and debris. At the end of the project we will clean up the mess, and leave the area the way we found it.</p>
            <div class="products-items">
              <div class="item"><a class="link" href="#"></a><img class="lazy-image" src="img/window-1.png" alt="window"/>
                <h3>Awning</h3>
              </div>
              <div class="item"><a class="link" href="#"></a><img class="lazy-image" src="img/window-2.png" alt="window"/>
                <h3>Casement</h3>
              </div>
              <div class="item"><a class="link" href="#"></a><img class="lazy-image" src="img/double-slider-window.png" alt="window"/>
                <h3>Double Slider</h3>
              </div>
              <div class="item"><a class="link" href="#"></a><img class="lazy-image" src="img/Double-Hung.png" alt="window"/>
                <h3>Double Hung</h3>
              </div>
              <div class="item"><a class="link" href="#"></a><img class="lazy-image" src="img/Single-Slider.png" alt="window"/>
                <h3>Single Slider</h3>
              </div>
              <div class="item"><a class="link" href="#"></a><img class="lazy-image" src="img/single-hung-canglow-window.png" alt="window"/>
                <h3>Single Hung</h3>
              </div>
              <div class="item"><a class="link" href="#"></a><img class="lazy-image" src="img/End-Vent-Slider.png" alt="window"/>
                <h3>End Vent Slider</h3>
              </div>
              <div class="item"><a class="link" href="#"></a><img class="lazy-image" src="img/door.png" alt="door"/>
                <h3>Entry Doors</h3>
              </div>
            </div><a class="button green" href="#">More Windows</a>
            <h3>EWindow Replacement in winter</h3>
            <p>WLashed with heavy rains and heavy snows, Edmonton faces erratic climatic conditions most of the year. If the window glass is getting fogged or if you are feeling the chill even while indoors, you may want to consider our window replacement services.</p>
            <p>We offer double and triple glazed window panes for replacement to keep out the chill in the winter and heat in the summer months. While working on the project we ensure minimum discomfort to the inmates of the house, and remove one window at a time. This is done to maintain the indoor temperature as much as possible.</p>
            <h3>Expert installers</h3>
            <p>With years of combined experience and expertise in fenestration remodeling services, our expert installers provide the highest quality of service to ensure safety and satisfaction in all of our projects.</p>
            <p>We prep your windows and prepare the work area before we start the actual process so that there are no hitches during the work. Don’t worry about dirt and debris. At the end of the project we will clean up the mess, and leave the area the way we found it.</p>
            <blockquote>
              <h3>Your satisfaction is our goal</h3>
              <p>Whether you have a scratched window or a cracked one, whether you need a part replaced or an entirely new one – our services cover all of your requirements. Every renovation is a broken dream mended, and we understand the value of your dreams. Which is why, we have a thorough replacement process in place.</p>
            </blockquote>
          </div>
          <div class="sidebar">
            <div class="canglow"><a class="logo" href="#"><img src="img/logo.svg" alt="#"/></a>
              <div class="img"><img src="img/window.png" alt="window"/>
                <ul>
                  <li>
                    <h4>Best Price Guarantee</h4>
                  </li>
                  <li>
                    <h4>Energy Efficient</h4>
                  </li>
                  <li>
                    <h4>Lifetime Warranty</h4>
                  </li>
                  <li>
                    <h4>$1500 Alberta Rebate</h4>
                  </li>
                </ul>
              </div><a class="button green" href="#">See more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
